<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/subjects.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/subjects.css')}}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder" href="#">Mis Asignaturas</a>
            <span>Bienvenido/a {{session['Name']}} {{session['LastName']}}<a href="{{url_for('logout')}}"
                    class="mx-3">Salir</a></span>
        </div>
    </nav>

    <div class="container">
       

        <!-- Tasks -->
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 mt-3">
            {% for subject in subjects %}
            <div class="col-md-3">
                <div class="card", id = "miDiv_{{ subject.Name }}">
                    <div class="card__image-holder">
                        <img class="card__image" src="https://source.unsplash.com/300x225/?{{ subject.Name }}"
                            alt="{{ subject.Name }}" />
                    </div>
                    <div class="card-title">
                        <h2>
                            {{ subject.Name }}
                            <small>{{ subject.idDept }}</small>
                            <small class="nrc" id="{{ subject.NRC }}">{{ subject.NRC }}</small>
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>